<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>投稿を編集</h1>
      
      <%= form_with model: @post, local: true do |f| %>
        <% if @post.errors.any? %>
          <div class="alert alert-danger">
            <ul class="mb-0">
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="mb-3">
          <%= f.label :title, "タイトル", class: "form-label" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        
        <div class="mb-3">
          <%= f.label :body, "内容", class: "form-label" %>
          <%= f.text_area :body, class: "form-control", rows: 10 %>
        </div>
        
        <div class="d-flex gap-2">
          <%= f.submit "更新する", class: "btn btn-primary" %>
          <%= link_to "キャンセル", post_path(@post), class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>