<% content_for(:title, 'ログイン') %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>ログイン</h1>
      
      <!-- エラーメッセージ表示 -->
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
      
      <%= form_with url: login_path, local: true do |f| %>
        <div class="mb-3">
          <%= f.label :email, "メールアドレス", class: "form-label" %>
          <%= f.email_field :email, class: "form-control", required: true %>
        </div>
        <div class="mb-3">
          <%= f.label :password, "パスワード", class: "form-label" %>
          <%= f.password_field :password, class: "form-control", required: true %>
        </div>
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      <% end %>
      
      <div class='text-center mt-3'>
        <%= link_to '登録ページへ', new_user_path, class: "btn btn-link" %>
      </div>
    </div>
  </div>
</div>