<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/life-log.png" type="image/png">
    <link rel="apple-touch-icon" href="/life-log.png">

    <meta property="og:title" content="ãŠã¤ã‹ã‚Œè‡ªåˆ†ã€‚ãµã…æ—¥è¨˜">
    <meta property="og:description" content="æ—¥ã€…ã®é ‘å¼µã‚Šã‚’è¨˜éŒ²ã—ã€è‡ªåˆ†ã‚’åŠ´ã‚ã‚‹ãŸã‚ã®æ—¥è¨˜ã‚¢ãƒ—ãƒªã§ã™ã€‚">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= "#{request.base_url}/huu.png" %>">

    <!-- ðŸ”¥ Bootstrap CSS CDN è¿½åŠ  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">


  </head>

  <body class="soft-green-bg d-flex flex-column min-vh-100">
  
  <!-- ãƒ­ã‚°ã‚¤ãƒ³æ™‚ã®ã¿ãƒ˜ãƒƒãƒ€ãƒ¼è¡¨ç¤º -->
  <% if logged_in? %>
    <%= render 'shared/header' %>
  <% end %>

    <%= render 'shared/flash_message' %>

  <main class="flex-grow-1">
    <%= yield %>
  </main>
  <%= yield :javascript %>
  
  <%= render 'shared/footer' %>

  <link rel="stylesheet" href="/body.css">

  <!-- Bootstrap JavaScript CDN -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  </body>
</html>